<div class="container">
  <div class="container bg-orange">
    <div class="row">
      <!-- Header -->
      <div class="col-sm-2">
        <a href="" routerLink="home">Hacker News</a>
      </div>
      <!-- nav -->
      <div class="col-sm-8" >
        <app-nav *ngIf="isSubmitOpen==false" (submitOpenEvent)="onSubmitOpen($event)"></app-nav>
        <!-- <div *ngIf="hide==true">Submit</div> -->
      </div>
      <div class="col-sm-2">Login</div>
    </div>
  </div>
    <router-outlet></router-outlet>
</div>

