<div class="container mt-3 bg-grey">
    <h6>That's not a valid title.</h6>
    <div class="mb-3 row">
      <label class="col-sm-1 col-form-label">Title</label>
      <div class="col-sm-5">
        <input type="text" class="form-control" id="inputTitle">
      </div>
    </div>
    <div class="mb-3 row">
        <label class="col-sm-1 col-form-label">Url</label>
        <div class="col-sm-5">
          <input type="text" class="form-control" id="inputUrl">
        </div>
    </div>
    <div class="mb-3 row">
        <label class="col-sm-1 col-form-label">Text</label>
        <div class="col-sm-5">
          <textarea class="form-control mb-3" id="exampleFormControlTextarea1" rows="3"></textarea>
          <button class="mb-3" type="submit" style="border-radius: 4px; padding: 3px 20px 3px 20px;">Submit</button>
        </div> 
    </div>  
        <p>Leave url blank to submit a question for discussion. If there is no url, text will appear at the top of the thread. If there is a url, text is optional.
            <br>
            You can also submit via <a href="">bookmarklet</a>.
        </p>
</div>